.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: rgb(241, 241, 241);
}

.h2 {
  font-weight: 300 !important;
}

.add {
  color: white;
  background-color: rgb(51, 221, 136) !important;
  border-radius: 5%;
  height: 40px;
  border: none;
  font-weight: bold;
  margin-left: auto;
}
